.name1 {
  padding-left: 30px;
  padding-top: 10px;
  position: "absolute";
  font-size: small;
  font-weight: lighter;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.box1 {
  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 28px;
  left: 30px;
  top: 75px;
  font-size: small;
  font-weight: lighter;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */

  background: #ffffff;
  border: 1px solid #9a9ab1;
  border-radius: 6px;
}
.email1 {
  position: "absolute";
  padding-top: 42px;
  padding-left: 30px;
  font-size: small;
  font-weight: lighter;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.box2 {
  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 28px;
  left: 30px;
  top: 135px;
  font-size: small;
  font-weight: lighter;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */

  background: #ffffff;
  border: 1px solid #9a9ab1;
  border-radius: 6px;
}

.phone {
  position: absolute;
  left: 30px;
  top: 180px;
}

.phoneName {
  position: "absolute";
  font-size: small;
  font-weight: lighter;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.role {
  position: relative;
  font-size: small;
  font-weight: lighter;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* padding-top: 10px;
  padding-right: 20px; */
  top: 8px;
}
.roles {
  position: relative;
  font-size: small;
  font-weight: lighter;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* padding-top: 10px;
  padding-right: 20px; */
  top: 10px;
}

.cancelBtn {
  position: relative;
  top: 40px;
  left: 180px;

  background: #ffffff;
  /* cool-gray/300 */

  border: 1px solid #d1d5db;
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px;
}

.submitBtn {
  position: relative;
  top: 4.5px;
  left: 260px;

  background: #ffffff;
  /* cool-gray/300 */

  border: 1px solid #d1d5db;
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px;
}
