.mainTable tr td {
  border-bottom: solid 1px #e5e7eb;
}

.mainTable {
  top: 85px;
  position: absolute;
  left: 60px;
  width: 1150px;
  border-spacing: 0px;
  /* font-family: sans-serif; */
}

.mainTable thead {
  background-color: #f3f4f6;
  color: #4b5563;
}

.mainTable td {
  padding: 5px;
  height: 35px;
  color: #111928;
}

.optionsMenu {
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-size: contain;
  margin-left: 10px;
  cursor: pointer;
}

.mainTable tbody td:nth-child(6) div {
  border-radius: 8px;
  border: solid 1px #262626;
  padding: 1px 11px;
  width: 69px;
  height: 24px;
}

.eachEmployeeSkill {
  border-radius: 8px;
  border: solid 1px #000;
  padding: 1px 5px;
  /* width: 92px; */
  height: 24px;
  font-weight: 500;
  font-size: 12px;
  margin: 0px 5px;
  display: inline-block;
  color: #111928;
  font-family: "Inter";
}

.mainTable tbody td span {
  width: 20px;
  height: 20px;
  display: inline-block;
  /* background: url(../images/invited.png); */
  background-repeat: no-repeat;
  transform: translateY(35%);
}

.topArrow {
  background: url(../images/arrowUp.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
  transform: translateY(20%);
}

.downArrow {
  background: url(../images/arrowDown.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  transform: translateY(20%);
}

/* .all {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */

.popUp {
  font-family: "Inter";
  font-size: small;
  cursor: pointer;
}

tr:hover .clickDetails {
  background-color: #f3f4f6;
  cursor: pointer;
}
