.modalBG {
  position: fixed;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #18181b;
  opacity: 0.2;
}

.modalClose {
  cursor: pointer;
  background: url(../images/close-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 13px;
  width: 13px;
}

.detailsModalContainer {
  position: absolute;
  width: 600px;
  height: 420px;
  left: 200px;
  top: 200px;
  background: #ffffff;
  border-radius: 16px;
}

.newContainer {
  position: absolute;
  left: 0px;
  width: 400px;
  background: #ffffff;
  border-radius: 15px;
  height: 200px;
}

/* .modalTitle {
  position: absolute;
  width: 250px;
  height: 33px;
  left: 370px;
  top: 160px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #111928;
}

.modalSep {
  position: absolute;
  width: 620px;
  height: 2px;
  left: 370px;
  top: 215px;
  background: #ececef;
}

.skillHeading,
.statusHeading,
.descriptionHeading,
.detailsModalHeading {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #757575;
}

.skillHeading {
  top: 216px;
  left: 410px;
}

.statusHeading {
  top: 216px;
  left: 763px;
}

.descriptionHeading {
  left: 410px;
  top: 327px;
}

.skillBody,
.statusBody,
.descriptionBody,
.detailsModalBody {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #111928;
}

.descriptionBody {
  font-weight: 500;
  top: 374px;
  width: 621px;
  left: 410px;
}

.skillBody {
  top: 253px;
  left: 410px;
}

.statusBody {
  top: 253px;
  left: 763px;
}

.detailsModalColumnOne {
  left: 410px;
}

.detailsModalColumnTwo {
  left: 632px;
}

.detailsModalColumnThree {
  left: 807px;
}

.projectDetailsModalColumnThree {
  left: 847px;
}

.detailsModalHeadingRowOne {
  top: 217px;
}

.detailsModalBodyRowOne {
  top: 257px;
}

.detailsModalHeadingRowTwo {
  top: 328px;
}

.detailsModalBodyRowTwo {
  top: 368px;
}

.detailsModalHeadingRowThree {
  /*  add 111 */
/* top: 439px;
}

.detailsModalBodyRowThree {
  top: 479px;
}

.detailsModalHeadingRowFour {
  top: 550px;
}

.detailsModalBodyRowFour {
  top: 590px;
}

.detailsModalHeadingRowFive {
  top: 661px;
}

.detailsModalBodyRowFive {
  top: 701px;
}

.green {
  color: #33bc28;
}

.red {
  color: #e02424;
} */
